<!DOCTYPE html>

<html lang="en">

  <head>
    {% if title %}
      <title>{{ title }} | ???</title>
    {% else %}
      <title>???</title>
    {% endif %}
  </head>

  <body>
    <header>
    </header>

    <main>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div id="flashed_messages">
            <ul>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </main>

    <footer>
      {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Log In</a>
      {% else %}
        <a href="{{ url_for('logout') }}">Log Out</a>
      {% endif %}
    </footer>
  </body>

</html>
