{% extends "layout.html" %}

{% block content %}

  <span class="breadcrumb">
    <a href="{{ url_for('.home') }}">Home</a> » Log In
  </span>

  <div class="content">

    <h1>Sign In</h1>

    <form action="{{ url_for('.login') }}" method="POST" novalidate>
      {{ login_form.hidden_tag() }}
      <p>
        {{ login_form.user_or_mail.label }}<br>

        {{ login_form.user_or_mail(size=32) }}<br>

        {% if login_form.user_or_mail.errors %}
          {% for error in login_form.user_or_mail.errors %}
            <span class="error">{{ error }}</span><br>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        {{ login_form.password.label }}<br>
        {{ login_form.password(size=32) }}<br>

        {% if login_form.password.errors %}
          {% for error in login_form.password.errors %}
            <span class="error">{{ error }}</span><br>
          {% endfor %}
        {% endif %}
      </p>
      <p>{{ login_form.remember_me() }} {{ login_form.remember_me.label }}</p>
      <p>{{ login_form.sign_in() }}</p>
    </form>

  </div>

{% endblock %}
