{% extends "layout.html" %}

{% block content %}

  <span id="breadcrumb">
    <a href="{{ url_for('.home') }}">Home</a> » Register
  </span>

  <div class="content">

    <h1>Register</h1>

    <form action="{{ url_for('.register') }}" method="POST">
      {{ registration_form.hidden_tag() }}
      <p>
        {{ registration_form.username.label }}<br>
        {{ registration_form.username(size=32) }}<br>

        {% if registration_form.username.errors %}
          {% for error in registration_form.username.errors %}
            <span class="error">{{ error }}</span><br>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        {{ registration_form.email.label }}<br>
        {{ registration_form.email(size=32) }}<br>

        {% if registration_form.email.errors %}
          {% for error in registration_form.email.errors %}
            <span class="error">{{ error }}</span><br>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        {{ registration_form.password.label }}<br>
        {{ registration_form.password(size=32) }}<br>

        {% if registration_form.password.errors %}
          {% for error in registration_form.password.errors %}
            <span class="error">{{ error }}</span><br>
          {% endfor %}
        {% endif %}
      </p>
      <p>
        {{ registration_form.password2.label }}<br>
        {{ registration_form.password2(size=32) }}<br>

        {% if registration_form.password2.errors %}
          {% for error in registration_form.password2.errors %}
            <span class="error">{{ error }}</span><br>
          {% endfor %}
        {% endif %}
      </p>
      <p>{{ registration_form.register() }}</p>
    </form>

  </div>

{% endblock %}
